body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

canvas {
    background-image: url("img/9.Intro _ Outro Image/Start Screen/Opción 1.png");
    background-size: cover;
    background-position: center;
    display: block;                                 /*Wichtig für Seite responsiv machen */
    
    
}

.container {
    position: relative;
}


.fullScreen {
    
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    cursor: pointer;


}

.d-none {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    position: absolute;
    left: 285px;
}

.pulse {
    width: 150px;
    height: 70px;
    background-color: #85a030;
    position: relative;
    animation: animate 3s linear infinite
}

.pulse i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    height: 100%;
    cursor: pointer
}

.panel {
    display: flex;
    justify-content: space-between;
    width: 720px;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7), 0 0 0 0 rgb(255, 109, 74, 0.7)
    }

    40% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 0 rgb(255, 109, 74, 0.7)
    }

    80% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
    }
}



/*Smartphones */

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}



