body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

canvas {
    background-image: url("img/9.Intro _ Outro Image/Start Screen/Opción 1.png");
    background-size: cover;
    background-position: center;
    display: block;                                 /*Wichtig für Seite responsiv machen */
    
    
}

.container {
    position: relative;
    display: flex;
    justify-content: center;

}


.fullScreen {
    
    position: absolute;
    right: 5px;
    bottom: 5px;
    height: 30px;
    cursor: pointer;
    z-index: 5;


}

.d-none {
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: absolute;
    
}

.pulse {
    width: 150px;
    height: 70px;
    background-color: lightgreen;
    position: relative;
    animation: animate 3s linear infinite;
    border-radius: 100%;
}

.pulse i {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 100%;
    cursor: pointer
}

.panel {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    bottom: 5px;
}

#btnLeft {
    background-image: url(img/arrows/arrow_left.png);
    border-radius: 100%;
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
}

#btnRight {
    background-image: url(img/arrows/arrow_right.png);
    border-radius: 100%;
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
}

#btnUp {
    background-image: url(img/arrows/arrow_up.png);
    border-radius: 100%;
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
}

#btnThrow {
    background-image: url(img/arrows/arrow_throw.png);
    border-radius: 100%;
    background-color: lightgreen;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
}

.gameOverScreen{
    height: 100%;
    width: 100%;
    background-image: url('img/9.Intro _ Outro Image/_Game over_ screen/1.you lost.png');
    position: absolute;
    background-color: black;
    opacity: 0.8;
    background-position: center;
    background-size: cover;
}

.controlPanel img{
height: 30px;
width: 30px;
margin-right: 10px;
}

.controlPanel div {
    display: flex;
    align-items: center;
}



@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0.7), 0 0 0 0 rgb(255, 109, 74, 0.7)
    }

    40% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 0 rgb(255, 109, 74, 0.7)
    }

    80% {
        box-shadow: 0 0 0 50px rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
    }

    100% {
        box-shadow: 0 0 0 0 rgb(255, 109, 74, 0), 0 0 0 30px rgb(255, 109, 74, 0)
    }
}



/*Smartphones */

@media only screen and (max-width: 760px) {
    canvas {
        width: 100%;
    }
    .fullScreen {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}




